.idea
.ipynb_checkpoints
*.log
*.pdf
*.aux
*.synctex.gz
*.zip
/as_6/npy/
/as_6/wav/
/as_6/preprocessed_features/
/as_6/recordings/
/as_6/recordings_npy/
/as_6/keras_tutorial/
/as_8/lab8/speech_mnist/*
/as_8/my_recording/*
/as_8/mnist_trained/*
/as_8/lab8/midi_songs/*
